<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

<body>
  <header>
    <h1>Library of Ang</h1>
  </header>

  <%- include('../partials/nav.ejs') %>

  <main>
    <h2><%= title %></h2>
    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <div>
          <a href="/blogs/<%= blog._id %>">
            <h3><%= blog.title %></h3>
            <p><%= blog.snippet %></p>
          </a>
        </div>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display</p> 
    <% } %>
    <a href="/blogs/create">+ New Blog</a>
  </main>

  <%- include('../partials/footer.ejs') %>
</body>
</html>